* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: chocolate;
}

h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
    margin: auto;
    display: block;
    background-color: white;
}