* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: chocolate;
    overscroll-behavior-y: contain;
}

h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
    margin: auto;
    display: block;
    background-color: white;
}

#reset,
#penSize {
    padding: 3px;
    margin: 0 10px 3px 10px;
}

p {
    padding: 3px;
}

#penSize {
    width: 50px;
    outline: none;
}

div {
    display: flex;
    justify-content: center;
}